.form {
  display: flex;
  flex-direction: column;
  padding-top: $xl-size;
  > * {
    margin-bottom: $m-size;
  }
}

.form__background {
  background: #607d8b;
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  text-align: center;
}

.form__actions {
  text-align: center;
}

.form__button {
  background: $primary-gradient; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    $primary-gradient
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    $primary-gradient
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 2px white solid;
  border-radius: 9px 27px;
  color: #37474f;
  font-family: "Rajdhani";
  font-size: $font-size-med;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 2rem;
}
