// Colors
$primary-gradient: #70e1f5;
$primary-gradient: to bottom, #ffd194, #70e1f5;
$primary-gradient: to bottom, #ffd194, #70e1f5;

// Font size
$font-size-x-lrg: 7rem;
$font-size-lrg: 4rem;
$font-size-med: 3rem;
$font-size-small: 2.5rem;

// Spacing
$s-size: 1.6rem;
$m-size: 2.3rem;
$l-size: 3.6rem;

// Devices
$desktop-breakpoint: 45rem;
